[Unit]
Description=Tcpdump service
After=network.target

[Service]
ExecStart=/bin/bash /usr/local/bin/glowing-lamp
WorkingDirectory=/var/log/tcpdump/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
TimeoutSec=5
Restart=on-abort

[Install]
WantedBy=multi-user.target
